<!DOCTYPE html>
<html>
  <head>
    <title>Program</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- ****** N A V B A R****** -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="projectName">
            <a class="navbar-brand" href="#">
              <%= image_tag("abood.png", class: "logo") %>
            </a>
            <a class="projectName navbar-brand" href="#">Abdelrahman Khadra</a>
          </div>
          <!--end projectName -->
        </div>

        <!--end navbar-header -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" id="nav">
            <li>
              <a href="/simple_pages/landing_page">Home</a>
            </li>
            <li>
              <a href="/simple_pages/about">About</a>
            </li>
            <li>
              <a href="/products">Products</a>
            </li>
            <li>
              <a href="/simple_pages/contact">Contact</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= form_tag(products_path, method: 'get', class: 'navbar-form navbar-right') do%>
              <%= text_field_tag(:q, "", type: "text", class: "form-control", placeholder: "search text") %>
              <%= submit_tag("Search", class: "btn btn-primary search-btn") %>
            <% end %>
          </li>
        </ul>
      </div>
      <!--end navbar collapse-->
    </div>
    <!-- end nav container-->
  </nav>
  <!-- end navbar-->

  <%= yield %>

  <!-- ****** F O O T E R ****** -->
  <footer class="container-fluid bg-4 text-center">

    <div class="copyright">
      &copy; 2017 AbdelrahmanKhadra
    </div>
    <!-- end copyright -->

    <!-- Your follow button code -->
    <div class="tw-follow">
      <a class="twitter-follow-button" href="https://twitter.com/AboOdkhadra7" data-size="large" data-show-count="false">
        Follow @AbdelrahmanKhadra
      </a>
    </div>
    <!-- end tw-follow -->

  </footer>
  <!-- end footer bg-4 -->
</body>
</html>
